<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Codius.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Codius.My.MySettings>
            <setting name="Period" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Servers" serializeAs="String">
                <value>http://www.ya.ru
http://www.google.ru</value>
            </setting>
            <setting name="SaveLogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBubbles" serializeAs="String">
                <value>True</value>
            </setting>
        </Codius.My.MySettings>
    </userSettings>
</configuration>